@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: black;
    font-family: 'Playpen Sans', cursive;
}

a{
    font-size: 19px;
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(218, 218, 218);
}

header{
    padding: 10px 15px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-image: linear-gradient(rgb(124, 0, 0), rgb(209, 99, 99), rgb(71, 0, 0));
}

header img{
    width: 100px;
}
nav{
    margin-left: 20px;
}

nav a{
    margin-right: 50px;
}

nav{
    margin-left: 20px;
}

nav a{
    margin-right: 50px;
}

#carrusel-container{
    width: 100%;
    height: 400px;
    position: relative;
}

#logo-nav-conterner{
    display: flex;
    align-items: center;
}

#links-container{
    display: flex;
    align-items: center;   
}

#links-container a{
    margin-right: 15px;
    align-items: center;
}

#links-container a{
    margin-left: 15px;
}

.imege-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.imege-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}